{% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/chat1.css' %}">
    <form method="POST" autocomplete="off" class="container">
        <div class="area">
                <div class="user-input textarea">
            <div class="chat-bubble">

                <h4>Valorizamos o feedback dos nossos usuários e estamos comprometidos em aprimorar continuamente a experiência em nosso site. Compartilhe suas opiniões conosco para que possamos oferecer um serviço ainda melhor.</h4>
            </div>
            <BR>
    <div class="user-input textarea">
<form method="POST" autocomplete="off">
    {% csrf_token %}
    {{form}}
    <br>
    <div class="button-row">
    <button type="submit" class="btn btn-outline-dark">Enviar mensagem</button>
</form>
    <a class="btn btn-outline-dark" href="{% url 'site' %}">Voltar</a>
    </div>
     </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
