body {
  background-image: url(/static/images/Login2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.area {
  background-color: #ffffff80;
  padding: 25px;
  border-radius: 5%;
  box-shadow: 4px 4px 1px 1px #00000070;
}

h1 {
  color: #027789;
  margin-bottom: 30px;
}

.form-control {
  background-color: transparent;
  width: 100%;
  padding: 10px 12px;
  display: inline-block;
  border: none;
  border-bottom: 2px solid #027789;
  outline: none;
  min-width: 180px;
  font-size: 16px;
  border-radius: 0;
}

.form-group {
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.botao {
  display: flex;
  justify-content: center;
}
