{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Informações Adicionais</title>
    <link rel="stylesheet" href="{% static 'css/clienteread1.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <ul class="nav nav-tabs justify-content-between">
        <li class="nav-item">
            <a class="nav-link text-dark" href="{% url 'site' %}">Início</a>
        </li>
        <li class="nav-item ml-auto">
            <a class="nav-link text-dark" href="{% url 'site' %}">Perfil do Usuário</a>
        </li>
    </ul>

    <h2 class="text-center">Informações das Gestantes</h2>

    {% for gestante in Gestantes %}
        <div class="row mb-3">
            <div class="col-md-4">
                <h5>Nome:</h5>
                <input class="form-control" type="text" value="{{ gestante.usuario.username }}" readonly>
            </div>
            <div class="col-md-4">
                <h5>Data da Vacina:</h5>
                <input class="form-control" type="text" value="{{ gestante.datavacina|date:'d/m/Y' }}" readonly>
            </div>
            <div class="col-md-4">
                <h5>Status:</h5>
                <input class="form-control" type="text" value="{{ gestante.get_status_display }}" readonly>
            </div>
        </div>

        <h5>Nome da Vacina:</h5>
        <input class="form-control mb-3" type="text" value="{{ gestante.nome_vacina }}" readonly>

        <h5>Histórico de Vacinas:</h5>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nome da Vacina</th>
                    <th>Data da Vacina</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for vacina in gestante.vacinas.all %}
                    <tr>
                        <td>{{ vacina.nome_vacina }}</td>
                        <td>{{ vacina.datavacina|date:'d/m/Y' }}</td>
                        <td>{{ vacina.get_status_display }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3" class="text-center">Nenhuma vacina cadastrada.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <hr>
        <div class="row mb-4">
            <div class="col text-center">
                <hr>
                <div class="d-flex justify-content-center">
                    <div class="mr-5">
                        <a href="update_gestante/{{ gestante.id }}"><img src="{% static 'images/editar.png' %}" height="35px"></a>
                    </div>
                </div>
                <hr>
            </div>
        </div>

    {% endfor %}
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{% static 'js/apicep.js' %}"></script>
</body>
</html>
