{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Mapa de Vacinas</title>
    <link rel="stylesheet" href="{% static 'css/mapa_vacinas.css' %}">
</head>
<body>
    <div class="container">
        <h2>Mapa de Vacinas</h2>
        <div class="vacina-board">
          {% for vacina in vacinas %}
          {% if vacina.nome %}
              <a href="{% url 'registrar_vacina_nome' vacina.nome %}" class="vacina-item {% if vacina.completada %}completa{% endif %}">
                  {{ vacina.nome }}
              </a>
          {% else %}
              <div class="vacina-item incompleta">
                  Nome não disponível
              </div>
          {% endif %}
      {% endfor %}
      
        </div>
    </div>
</body>
</html>
