{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Amamentação</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/notificacao.css' %}">


</head>
<body>
    <div class="container">
        <div class="area">
            <h1>Amamentação: Benefícios para você e seu bebê</h1>

            <h2>Por que amamentar?</h2>
            <p>A amamentação é uma forma especial de nutrir seu bebê e oferece muitos benefícios:</p>
            <ul>
                <li>Fornece todos os nutrientes necessários para o crescimento saudável</li>
                <li>Fortalece o sistema imunológico do bebê, reduzindo o risco de infecções</li>
                <li>Ajuda no vínculo afetivo entre mãe e filho</li>
                <li>Promove o desenvolvimento cognitivo e emocional do bebê</li>
            </ul>

            <h2>Como amamentar?</h2>
            <p>Aqui estão algumas dicas para ajudar você a começar a amamentação:</p>
            <ul>
                <li>Posicione o bebê de forma confortável e segure-o próximo ao seu corpo</li>
                <li>Ofereça o peito sempre que o bebê demonstrar sinais de fome</li>
                <li>Garanta uma boa pega, com o bebê abocanhando não apenas o mamilo, mas também parte da aréola</li>
                <li>Amamente sob demanda, de acordo com a vontade do bebê</li>
            </ul>

            <h2>Conte com o nosso apoio</h2>
            <p>A amamentação pode ter seus desafios, mas você não precisa enfrentá-los sozinha. Procure apoio de profissionais de saúde e grupos de apoio à amamentação para receber orientações e suporte.</p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
