{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>

    <link rel="stylesheet" href="{% static 'css/site.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">




</head>
<body>
    <div id="popup" class="alert alert" role="alert">
        <p class="fs-4">Bem-vindo(a) {{ request.user.get_full_name }}, aqui você encontrará dicas sobre como manter uma gestação saudável!</p>
        <button id="closeButton" class="btn btn-outline-dark">Fechar</button>
    </div>

    <div class="container">
        <div class="area">
            {% if messages %}
    <div class="alert alert-success">
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

            <nav class="navbar navbar-expand-lg navbar-light bg-transparent centered-navbar">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'images/back.png' %}" width="250" alt="Logo" class="img-fluid">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">

                    
                    <!-- Aba Usuário -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="login" id="maisDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i> Usuário
                        </a>
                        <div class="dropdown-menu" aria-labelledby="maisDropdown">
                            {% if not request.user.is_authenticated %}
                                <a class="dropdown-item" href="{% url 'login' %}">
                                    <i class="fas fa-sign-in-alt"></i> Login
                                </a>
                                <a class="dropdown-item" href="{% url 'registro' %}">
                                    <i class="fas fa-user-plus"></i> Cadastre-se
                                </a>
                            {% endif %}
                    
                            <div class="dropdown-divider"></div>
                    
                            {% if request.user.is_authenticated %}
                                <a class="dropdown-item" href="{% url 'update_profile' %}">
                                    <i class="fas fa-user-edit"></i> Atualizar perfil
                                </a>
                    
                                <a href="#" class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                                    <i class="fas fa-trash-alt"></i> Excluir Conta
                                </a>
                    
                                <form action="{% url 'logout' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="dropdown-item">
                                        <i class="fas fa-sign-out-alt"></i> Sair
                                    </button>
                                </form>
                            {% endif %}
                        </div>
                    </li>
                    
                        
{% if request.user.is_authenticated %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-heartbeat"></i> Acompanhamento
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'prenatal' %}">
            <i class="fas fa-calendar-check"></i> Pré Natal
        </a>

        
        <!-- Sempre mostrar o botão de cadastro -->
        {% if not tem_vacina %}
            <a class="dropdown-item" href="{% url 'vacina_create' %}">
                <i class="fas fa-syringe"></i> Cadastrar Vacina
            </a>
        {% elif tem_vacina %}
            <a class="dropdown-item" href="{% url 'vacina_create' %}">
                <i class="fas fa-plus-circle"></i> Adicionar Nova Vacina
            </a>
        {% endif %}

        <a class="dropdown-item" href="{% url 'ganho_peso' %}">
            <i class="fas fa-chart-line"></i> Monitoramento do Ganho de Peso Gestacional
        </a>
        
        <a class="dropdown-item" href="{% url 'noticias' %}">
            <i class="fas fa-newspaper"></i> Notícias
        </a>
        <a class="dropdown-item" href="{% url 'amamentacao' %}">
            <i class="fas fa-baby"></i> Amamentação
        </a>
    </div>
</li>
{% endif %}

                    

                    {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-baby"></i> Gestante
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if not clientes_cadastrados %}
                                <!-- Se o cliente não foi cadastrado, mostra a opção de cadastrar -->
                                <a class="dropdown-item" href="{% url 'create_cliente' %}">
                                    <i class="fas fa-user-plus"></i> Cadastrar
                                </a>
                            {% else %}
                                <!-- Se o cliente foi cadastrado, mostra a opção de visualizar -->
                                <a class="dropdown-item" href="{% url 'read_cliente' %}">
                                    <i class="fas fa-eye"></i> Visualizar
                                </a>
                            {% endif %}
                        </div>
                    </li>
                {% endif %}
                
                
                

                    <form class="form-inline" id="search-form">
                        <div class="input-group mb-3">
                            <input type="search" class="form-control" placeholder="Pesquise sobre sua gestação" aria-label="Pesquise sobre sua gestação" id="search-input" aria-describedby="search-button">
                            <button class="btn btn-outline-secondary" type="button" id="search-button">Pesquisar</button>
                        </div>
                    </form>
                </div>
            </nav>
            <div class="container pag">
                <div class="row">
                    <div class="col-md-8">
                        <h1>Página Inicial</h1>
                        <p>Bem-vindo ao nosso site! Aqui você encontrará informações e recursos úteis sobre maternidade, gestação, cuidados pré-natais e muito mais. Nossa missão é fornecer conteúdo de qualidade para ajudar e informar todas as futuras mamães e suas famílias.</p>
                        <p>Explore as diferentes seções do nosso site para encontrar artigos, dicas, vídeos e informações relevantes para cada fase da gestação. Também oferecemos informações sobre vacinas recomendadas durante a gravidez, além de dicas de cuidados e bem-estar para mamãe e bebê.</p>
                        <p>Estamos aqui para apoiá-la durante toda a jornada da maternidade. Sinta-se à vontade para navegar em nosso site e aproveitar todos os recursos disponíveis. Não hesite em entrar em contato caso tenha alguma dúvida ou precise de orientação. Desejamos a você uma gestação saudável e feliz!</p>
                    </div>
                    <div class="col-md-4">
                        <div class="video-container">
                            <video width="100%" height="auto" controls>
                                <source src="{% static 'video/vivi.mp4' %}" type="video/mp4">
                                Seu navegador não suporta o elemento de vídeo.
                            </video>
                        </div>
                    </div>
                </div>
                <div class="imagem-container">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{% static 'images/Login3.jpg' %}" alt="Gestação 1" class="img-fluid">
                        </div>
                        <div class="col-md-4">
                            <img src="{% static 'images/Login2.jpg' %}" alt="Gestação 2" class="img-fluid">
                        </div>
                        <div class="col-md-4">
                            <img src="{% static 'images/Login1.jpg' %}" alt="Gestação 3" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    



<!-- Modal para confirmação de exclusão de conta -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Confirmar Exclusão de Conta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>Tem certeza de que deseja excluir sua conta? <strong>Esta ação é irreversível.</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancelar</button>
                <form method="post" action="{% url 'excluir-conta' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Sim, Excluir Minha Conta</button>
                </form>
            </div>
        </div>
    </div>
</div>



    <footer>
        <div id="footer_content">
            <div id="footer_contacts">
                <img src="{% static 'images/back.png' %}" alt="Logo" width="230" height="80">
     <h6>SIGA NOS:</h6>
    
                <div id="footer_social_media">
                    <a href="https://www.instagram.com" class="footer-link" id="instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://www.facebook.com/" class="footer-link" id="facebook">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="https://www.whatsapp.com/?lang=pt_BR" class="footer-link" id="whatsapp">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                    <a href="https://twitter.com" class="footer-link" id="twitter">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="https://www.youtube.com" class="footer-link" id="youtube">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </div>
            </div>
            
            <ul class="footer-list">
                <li>
                    <h3>Produtos</h3>
                </li>
                <li>
                    <a href="#" class="footer-link">App</a>
                </li>
                <li>
                    <a href="#" class="footer-link">ChatBot</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Mapa</a>
                </li>
            </ul>
    
            <ul class="footer-list">
                <li>
                    <h3>Sobre nos</h3>
                </li>
                <li>
                    <a href="#" class="footer-link">Endereço</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Quem Somos</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}"class="footer-link", class="contact">Envie seu Feedback</a> 
                </li>

            </ul>
    
            <div id="footer_subscribe">
                <h3>Escreva-se</h3>
    
                <p>
                    Para receber novidades.
                </p>
    
                <div class="input-group mb-3">
                    <input type="text" class="form-control text-center" placeholder="Escreva-se" aria-label="Escrever">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="email">
                            <i class="far fa-envelope"></i>
                        </button>
                    </div>
                </div>
                
                
                
    
                </div>
                </div>
            </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://kit.fontawesome.com/3d88e1abe7.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="{% static 'js/alert.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/barra_pesquisa.js' %}"></script>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>



</body>
</html>