<form method="POST" action="{% url 'selecionar_posto' %}">
    {% csrf_token %}
    
    <label for="posto_id">Escolha um posto de saúde:</label>
    <select name="posto_id" id="posto_id">
        <option value="">Selecione um posto</option>
        <!-- As opções do posto serão preenchidas dinamicamente pelo JavaScript -->
    </select>
    
    <label for="nome_gestante">Nome da Gestante:</label>
    <input type="text" id="nome_gestante" name="nome_gestante" required>
    
    <label for="exame">Exame:</label>
    <input type="text" id="exame" name="exame" required>
    
    <button type="submit">Agendar</button>
</form>
