body {
    background: url('/static/images/Login.jpeg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: #000;
}

.container {
    margin-top: 30px;
    padding: 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #343a40;
    transition: transform 0.3s ease;
}

.profile-picture:hover {
    transform: scale(1.1);
}

.modal-dialog {
    max-width: 100%;  /* Garante que o modal ocupe até 100% da tela em dispositivos pequenos */
}

@media (max-width: 768px) {
    .profile-picture {
        width: 50px;
        height: 50px;
    }
    .modal-dialog {
        width: 90%;  /* Modal ocupa 90% da largura da tela em dispositivos móveis */
    }
}


.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}



.titulo-gestante {
    font-weight: bold;
    color: #333;
    font-size: 1.8rem;
    margin: 0 auto;
}

.subtitulo {
    font-size: 18px;
    font-weight: 300;
    color: #666;
    margin-bottom: 30px;
}



.profile-picture:hover {
    transform: scale(1.1);
}

.modal-header,
.modal-footer {
    border: none;
}

.modal-title {
    font-weight: bold;
}



.btn-salvar {
    background-color: #2196F3;
    color: white;
    font-weight: 500;
    border-radius: 8px;
    padding: 8px 16px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-salvar:hover {
    background-color: #1976D2;
    transform: scale(1.05) translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn-inicio {
    font-weight: 500;
    transition: all 0.3s ease;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding: 6px 14px;
}

.btn-inicio:hover {
    background-color: #e2e6ea;
    transform: scale(1.05) translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.btn-outline-dark {
    border-radius: 50px;
    padding: 8px 20px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn-outline-dark:hover {
    transform: scale(1.05) translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
