{% load static %}
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redefinir sua senha</title>

  <link rel="stylesheet" href="{% static 'css/registration/redefen.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
 <div class="container">
    <div class="area">
      <h1>Redefinir sua Senha</h1>
         <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="centrobotao">
          <button type="submit" class="btn btn-outline-dark">Redefenir</button>
          <a class="btn btn-outline-dark ml-3" href="{% url 'login' %}">Voltar</a> <!-- Adicionei a classe ml-3 para margem à esquerda -->
        </div>
      </form> 
    </div>
  </div>
</body>
</html>
