{% load static %}
{% load widget_tweaks %}
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redefinir sua senha</title>
        {% if validlink %}
  <link rel="stylesheet" href="{% static 'css/registration/redefen.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
 <div class="container">

     <div class="area">
      <h1>Esqueceu a senha</h1>
    <p>Entre com sua nova senha para resetar.</p>
    <form action="" method="post">
        {% csrf_token %}
 <form action="" method="post">
        {% csrf_token %}
          <div class="form-group">
            {{ form.new_password1.errors }}
            <label class="form-label" for="id_new_password1">Nova Senha:</label>
            <input type="password" name="new_password1" class="form-control" id="id_new_password1">
        </div>


        <div class="form-group">
            {{ form.new_password2.errors }}
            <label class="form-label" for="id_new_password2">Confirmação de senha:</label>
            <input type="password" name="new_password2" class="form-control" id="id_new_password2">
        </div>



        <div class="centrobotao">
          <button type="submit" class="btn btn-outline-dark">Alterar senha</button>


    <a class="btn btn-outline-dark" href="{% url 'login' %}">Voltar</a>
        </div>
   </form>

    {% else %}
    <h1>Falha na redefinição de senha</h1>
    <p>O link de redefinição de senha não está mais válido. Por favor, solicite um novo link de redefinição de senha..</p>
    {% endif %}

    </div>
  </div>
  </body>
</html>





=
=
