{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Enviado</title>

  <link rel="stylesheet" href="{% static 'css/registration/password_reset_done.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

<div class="container">
  <div class="area">
    <div class="header-bar d-flex justify-content-between align-items-center mb-4">
      <h2 class="text-center flex-grow-1">Solicitação de Senha Nova</h2>
    </div>

    <p class="mb-4 text-justify">
      Enviamos um e-mail com instruções para redefinir sua senha. <br>
      Se ele não chegar em alguns minutos, verifique sua pasta de spam.
    </p>

    <div class="text-center mt-4">
      <a href="{% url 'login' %}" class="btn btn-excluir mx-2">
        <i class="fas fa-arrow-left"></i> Voltar para o Login
      </a>
    </div>
  </div>
</div>

</body>
</html>
