body {
  font-family: Arial, sans-serif;
  background: #f9f9f9 url('/static/images/Login.jpeg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.card {
  background-color: #ffffffd9;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.25);
}

label {
  margin-top: 10px;
  font-weight: bold;
}

select,
textarea,
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.btn-acao {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-acao:hover {
  background-color: #0056b3;
}

#map {
  width: 100%;
  height: 400px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
