/* Definindo o tamanho padrão de texto para todo o site */
body {
  font-family: 'Inter', sans-serif;
  font-size: 16px; /* Tamanho base de fonte para o corpo do texto */
  line-height: 1.6; /* Define o espaçamento entre as linhas de texto */
  background-image: url(/static/images/Login.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
/* Adicionar esta parte ao seu arquivo CSS */
html, body {
  height: 100%;  /* A altura total da página será 100% */
  margin: 0;
  display: flex;
  flex-direction: column;  /* Organiza o conteúdo em uma coluna */
}

main {
  flex: 1; /* Faz com que o conteúdo principal ocupe o máximo de espaço disponível */
}

footer {
  margin-top: auto; /* Garante que o rodapé seja empurrado para baixo */
  width: 100%;
  background-color: #f8f9fa;
  text-align: center;
  padding: 1rem 0;
  position: relative; /* Certifique-se de que o rodapé não se sobreponha ao conteúdo */
}

/* Outros estilos do rodapé */
#footer_content {
  background-color: #f8f9fa;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
  text-align: center;
}


/* Títulos e subtítulos */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #333;
}

/* Definindo o tamanho para os títulos principais */
h1 {
  font-size: 32px;  /* Ajuste o tamanho conforme necessário */
}

/* Subtítulos */
h2 {
  font-size: 28px;  /* Ajuste o tamanho conforme necessário */
}

h3 {
  font-size: 24px;  /* Ajuste o tamanho conforme necessário */
}

/* Parágrafos */
p {
  font-size: 16px;  /* Tamanho do texto dos parágrafos */
  color: #555;
}

/* Links no conteúdo */
a {
  color: #007bff;  /* Cor dos links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Certifique-se de que o conteúdo do rodapé também use o mesmo estilo */
footer {
  font-size: 16px;  /* Tamanho de fonte para o rodapé */
  color: #dcdcdc;  /* Cor do texto do rodapé */
}

/* Definindo o tamanho de fonte para o conteúdo da navbar */
.navbar-nav .nav-item {
  font-size: 18px;  /* Ajuste o tamanho conforme necessário */
}

/* Adicionando uma classe para controlar o tamanho do texto em todas as seções */
.text-content {
  font-size: 16px; /* Altere conforme necessário para outros textos */
  color: #333;
  line-height: 1.6;
}

/* Defina o tamanho da fonte para as mensagens de alerta */
.alert {
  font-size: 14px;  /* Ajuste o tamanho conforme necessário */
}
