/* Definindo o tamanho padrão de texto para todo o site */
body {
  font-family: 'Inter', sans-serif;
  font-size: 16px; /* Tamanho base de fonte para o corpo do texto */
  line-height: 1.6; /* Define o espaçamento entre as linhas de texto */
  background-image: url(/static/images/Login.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

/* Títulos e subtítulos */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #333;
}

/* Definindo o tamanho para os títulos principais */
h1 {
  font-size: 32px;  /* Ajuste o tamanho conforme necessário */
}

/* Subtítulos */
h2 {
  font-size: 28px;  /* Ajuste o tamanho conforme necessário */
}

h3 {
  font-size: 24px;  /* Ajuste o tamanho conforme necessário */
}

/* Parágrafos */
p {
  font-size: 16px;  /* Tamanho do texto dos parágrafos */
  color: #555;
}

/* Links no conteúdo */
a {
  color: #007bff;  /* Cor dos links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Certifique-se de que o conteúdo do rodapé também use o mesmo estilo */
footer {
  font-size: 16px;  /* Tamanho de fonte para o rodapé */
  color: #dcdcdc;  /* Cor do texto do rodapé */
}

/* Definindo o tamanho de fonte para o conteúdo da navbar */
.navbar-nav .nav-item {
  font-size: 18px;  /* Ajuste o tamanho conforme necessário */
}

/* Adicionando uma classe para controlar o tamanho do texto em todas as seções */
.text-content {
  font-size: 16px; /* Altere conforme necessário para outros textos */
  color: #333;
  line-height: 1.6;
}

/* Defina o tamanho da fonte para as mensagens de alerta */
.alert {
  font-size: 14px;  /* Ajuste o tamanho conforme necessário */
}
