body {
    background-image: url(/static/images/Login.JPEG);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.area {
    background-color: #ffffff80;
    border-radius: 5%;
    padding: 30px;
    box-shadow: 4px 4px 1px 1px #00000070;
    font-weight: bold;
    color: #272262;
    text-align: left;
    width: 50%;
}

.button-row {
    text-align: center;
}

.user-input {
    margin-top: 20px;
}

.user-input textarea {
    width: 100%;
    height: 170px;
    padding: 10px;
    border-radius: 0;
}
