@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  background-image: url(/static/images/Login.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background-color: #f8f9fa;
  padding: 10px 0;
}

.navbar-brand img {
  width: 250px;
  height: auto;
}

.container.pag {
  margin-top: 20px;
  margin-bottom: 20px;
}

.video-container {
  margin-bottom: 20px;
}

.imagem-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.imagem-container img {
  width: auto;
  height: 100%;
  object-fit: cover;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.fixed-bottom {
  background-color: #f8f9fa;
  padding: 20px 0;
  text-align: center;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.popup p {
  margin-bottom: 15px;
}
