@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body {
  background-image: url("/static/images/Login2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.area {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 700px;
}

h2 {
  color: #027789;
  font-weight: 500;
}

.form-control {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #027789;
  border-radius: 0;
  font-size: 16px;
  outline: none;
}

.form-control:focus {
  box-shadow: none;
  border-color: #014e5c;
}

.invalid-feedback {
  font-size: 14px;
}

.btn-outline-dark {
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
}

.btn-outline-dark:disabled {
  opacity: 0.5;
}
