@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  background-image: url('/static/images/Login.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.area {
  background-color: rgba(255, 255, 255, 0.9); /* Transparência no fundo */
  border-radius: 20px;
  padding: 30px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
}

h2 {
  margin-bottom: 30px;
  font-weight: 700;
  color: #027789;
  font-size: 24px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-control {
  width: 100%;
  padding: 10px 12px;
  border: 0;
  border-bottom: 2px solid #027789;  /* Linha colorida abaixo do campo */
  background-color: transparent;
  outline: none;
  font-size: 16px;
  border-radius: 0;
  box-shadow: none;
}

.form-control:focus {
  border-bottom: 2px solid #027789;  /* Foco com linha colorida */
}

.btn-editar, .btn-excluir {
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  transition: 0.3s ease;
}

.btn-editar {
  background-color: #027789;
  color: white;
  border: none;
}

.btn-editar:hover {
  background-color: #025b68;
}

.btn-excluir {
  background-color: #dc3545;
  color: white;
  border: none;
}

.btn-excluir:hover {
  background-color: #a71d2a;
}

/* Alterações para os ícones sociais */
.social-btn i {
  font-size: 27px; 
  margin-right: 10px; 
  vertical-align: middle; 
}

.social-icons a.facebook-btn i {
  font-size: 27px; 
}

.social-icons a.google-btn i {
  font-size: 27px; 
}

/* Alinhar centralmente */
.text-center {
  text-align: center;
}

.campo-flo {
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
}

.campo-flo input {
  background-color: transparent;
  width: 100%;
  padding: 10px 12px;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid #027789;
  outline: none;
  min-width: 180px;
  font-size: 16px;
  border-radius: 0;
  padding-left: 30px;
}

.campo-flo i {
  color: #027789;
  font-size: 18px;
  margin-right: 10px;
}

.campo-flo input:focus {
  border-bottom: 2px solid #027789;
}

.campo-flo label {
  color: #027789;
  pointer-events: none;
  position: absolute;
  top: -9px;
  left: 0;
  margin-top: 13px;
  transition: all 0.5s ease-out;
}
