@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body {
  background-image: url(/static/images/Login.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.area {
  background-color: #ffffffcc;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
  text-align: center;
}

h2 {
  margin-bottom: 30px;
  font-weight: 700;
  color: #027789;
  font-size: 24px;
}

p {
  font-size: 16px;
  color: #444;
}

.btn-excluir {
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #dc3545;
  color: white;
  border: none;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  transition: 0.3s ease;
}

.btn-excluir:hover {
  background-color: #a71d2a;
}
