body {
    background-image: url('/static/images/Login3.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url('/static/images/Login3.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #ffffff4d;
}

h2.text-center {
    font-weight: bolder;
    font-size: 36px;
    color: #000000;
    margin-bottom: 20px;
}

.profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    /* border: 2px solid #000000; */ /* <- remova isso */
    transition: transform 0.3s ease-in-out;
    display: inline-block;
    margin-left: 10px;
}


.profile-picture:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .profile-picture {
        width: 50px;
        height: 50px;
    }
}
