@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url('/static/images/Login.jpeg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-color: #00BFFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.container {@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

  body {
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url('/static/images/Login.jpeg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-color: #00BFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    background-color: #ffffff80;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 4px 4px 1px 1px #00000070;
    width: 300px;
    height: auto;
  }
  
  .campo-flo {
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
  }
  
  .campo-flo input {
    background-color: transparent;
    width: 100%;
    padding: 10px 12px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #027789;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    border-radius: 0;
    padding-left: 30px;
  }
  
  .campo-flo i {
    color: #027789;
    font-size: 18px;
    margin-right: 10px;
  }
  
  .campo-flo input:focus {
    border-bottom: 2px solid #027789;
  }
  
  .campo-flo label {
    color: #027789;
    pointer-events: none;
    position: absolute;
    top: -9px;
    left: 0;
    margin-top: 13px;
    transition: all 0.5s ease-out;
  }
  
  .centrobotao {
    background: transparent;
    border-color: #027789;
    font-weight: bold;
    font-size: 15px;
    color: #027789;
    padding: 7px;
    margin-top: 15px;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
  }
  
  .a, .p {
    color: #027789;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    width: 100%;
  }
  
  .social-btn i {
    font-size: 27px; 
    margin-right: 10px; 
    vertical-align: middle; 
  }
  
  .social-icons a.facebook-btn i,
  .social-icons a.google-btn i {
    font-size: 27px; 
  }
  
  /* Estilo para mensagens */
  .alert {
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;a
    margin-top: 10px;
  }
  
  .alert-success {
    background-color: #d4edda;
    color: #155724;
  }
  
  .alert-error,
  .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
  }
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #ffffff80;
  padding: 15px;
  border-radius: 100%;
  box-shadow: 4px 4px 1px 1px #00000070;
  width: 300px;
  height: 460x;
}

.campo-flo {
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  align-items: center; /* Centralize verticalmente */
}

.campo-flo input {
  background-color: transparent;
  width: 100%;
  padding: 10px 12px;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid #027789;
  outline: none;
  min-width: 180px;
  font-size: 16px;
  border-radius: 0;
  padding-left: 30px;
}

.campo-flo i {
  color: #027789;
  font-size: 18px;
  margin-right: 10px;
}

.campo-flo input:focus {
  border-bottom: 2px solid #027789;
}

.campo-flo label {
  color: #027789;
  pointer-events: none;
  position: absolute;
  top: -9px;
  left: 0;
  margin-top: 13px;
  transition: all 0.5s ease-out;
}

.centrobotao {
  background: transparent;
  border-color: #027789;
  font-weight: bold;
  font-size: 15px;
  color: #027789;
  padding: 7px;
  margin-top: 15px;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
}

.a ,p {
  color: #027789;
  font-weight: bold;
  text-decoration: none;
  color: #027789;
  font-size: 14px;
  text-align: center;
  width: 100%;
}


.social-btn i {
  font-size: 27px; 
  margin-right: 10px; 
  vertical-align: middle; 
}


.social-icons a.facebook-btn i {
  font-size: 27px; 
}


.social-icons a.google-btn i {
  font-size: 27px; 
}


