@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  background-image: url(/static/images/Login4.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.area {
  background-color: #ffffff80;
  border-radius: 5%;
  padding: 30px;
  box-shadow: 4px 4px 1px 1px #00000070;
  font-weight: bold;
 
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

h5 {
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px 12px;
  display: inline-block;
  border: none;
  border-bottom: 2px solid #272262;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  border-radius: 0;
}

.button {
  background: transparent;

  border-radius: 1px;
  cursor: pointer;
  outline: none;
}


.centrobotao .btn {
  margin-left: 15px; 
}
