.tabuleiro {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.mapa {
  width: 100%;
}

.fase {
  position: absolute;
  background: #00BFFF;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
}
