{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>

    <link rel="stylesheet" href="{% static 'css//site/site.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://kit.fontawesome.com/3d88e1abe7.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="{% static 'js/alert.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/barra_pesquisa.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  
  
</head>
<body>

    <!-- Exibição de mensagens (alertas) -->
    {% if messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent centered-navbar">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'images/back.png' %}" width="250" alt="Logo" class="img-fluid">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">

                    
                    <!-- Aba Usuário -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="login" id="maisDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i> Usuário
                        </a>
                        <div class="dropdown-menu" aria-labelledby="maisDropdown">
                            {% if not request.user.is_authenticated %}
                                <a class="dropdown-item" href="{% url 'login' %}">
                                    <i class="fas fa-sign-in-alt"></i> Login
                                </a>
                                <a class="dropdown-item" href="{% url 'registro' %}">
                                    <i class="fas fa-user-plus"></i> Cadastre-se
                                </a>
                            {% endif %}
                    
                            <div class="dropdown-divider"></div>
                    
                            {% if request.user.is_authenticated %}
                                <a class="dropdown-item" href="{% url 'update_profile' %}">
                                    <i class="fas fa-user-edit"></i> Atualizar perfil
                                </a>
                    
                                <a href="#" class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                                    <i class="fas fa-trash-alt"></i> Excluir Conta
                                </a>
                    
                                <form action="{% url 'logout' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="dropdown-item">
                                        <i class="fas fa-sign-out-alt"></i> Sair
                                    </button>
                                </form>
                            {% endif %}
                        </div>
                    </li>
                    
                        
{% if request.user.is_authenticated %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-heartbeat"></i> Acompanhamento
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
     
        <a class="dropdown-item" href="{% url 'mapa' %}">
            <i class="fas fa-hospital"></i>Postos de Saúde
        </a>
          
        <!-- Sempre mostrar o botão de cadastro -->
        {% if not tem_vacina %}
            <a class="dropdown-item" href="{% url 'vacina_create' %}">
                <i class="fas fa-syringe"></i> Cadastrar Vacina
            </a>
        {% elif tem_vacina %}
            <a class="dropdown-item" href="{% url 'vacina_create' %}">
                <i class="fas fa-plus-circle"></i> Adicionar Nova Vacina
            </a>
        {% endif %}
        <a class="dropdown-item" href="{% url 'ganho_peso' %}">
            <i class="fas fa-chart-line"></i> Monitoramento do GPG
        </a>
        <a class="dropdown-item" href="{% url 'formacaobebe' %}">
            <i class="fas fa-baby"></i> Formacao do Bebê
        </a>
        <a class="dropdown-item" href="{% url 'vacina_create' %}">
            <i class="fas fa-syringe"></i> Cadastrar Vacinas
        </a>        
        <a class="dropdown-item" href="{% url 'noticias' %}">
            <i class="fas fa-newspaper"></i> Notícias
        </a>
        <a class="dropdown-item" href="{% url 'amamentacao' %}">
            <i class="fas fa-baby"></i> Amamentação
        </a>
        <a class="dropdown-item" href="">
            <i class="fas fa-calendar-check"></i> Pré Natal
        </a>
    </div>
</li>
{% endif %}

                    

                    {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-baby"></i> Gestante
                        </a>      
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">




                            {% if not clientes_cadastrados %}
                            <!-- Se o cliente não foi cadastrado, mostra a opção de cadastrar -->
                            <a class="dropdown-item" href="{% url 'create_cliente' %}">
                                <i class="fas fa-user-plus"></i> Cadastrar
                            </a>
                        {% else %}
                            <!-- Se o cliente foi cadastrado, mostra a opção de visualizar -->
                            <a class="dropdown-item" href="{% url 'read_cliente' %}">
                                <i class="fas fa-eye"></i> Visualizar Perfil
                            </a>
            
                            <!-- Fórum Link -->
                            <a class="dropdown-item" href="{% url 'forum' %}">
                                <i class="fas fa-comments"></i> Fórum
                            </a>
            
                            <!-- Mostrar 'Ver Relatórios' apenas se for superusuário -->
                            {% if user.is_superuser %}
                                <a class="dropdown-item" href="{% url 'ver_relatorios' %}">
                                    <i class="fas fa-file-alt"></i> Ver Relatórios
                                </a>
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>

                    </li>
                {% endif %}


                    <form class="form-inline" id="search-form">
                        <div class="input-group mb-3">
                            <input type="search" class="form-control" placeholder="Pesquise sobre sua gestação" aria-label="Pesquise sobre sua gestação" id="search-input" aria-describedby="search-button">
                            <button class="btn btn-outline-secondary" type="button" id="search-button">Pesquisar</button>
                        </div>
                    </form>
                </div>
            </nav>

    <!-- Conteúdo específico de cada página -->
    <div class="container pag">

       




        <!-- O conteúdo específico de cada página será inserido aqui -->



        
       
    </div>
  </div>
</div>
    <!-- Rodapé -->

<!-- Modal para confirmação de exclusão de conta -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header bg-danger text-white">
              <h5 class="modal-title">Confirmar Exclusão de Conta</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
              <p>Tem certeza de que deseja excluir sua conta? <strong>Esta ação é irreversível.</strong></p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancelar</button>
              <form method="post" action="{% url 'excluir-conta' %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Sim, Excluir Minha Conta</button>
              </form>
          </div>
      </div>
  </div>
</div>
{% block content %} {% endblock %}