{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Sistema{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  
  {% block extra_css %}{% endblock %}
</head>
<body>

<div class="container">
  <div class="area">
    {% block content %}
    <!-- Conteúdo específico de cada página aqui -->
    {% endblock %}
  </div>
</div>

</body>
</html>
