{% extends 'site/base.html' %}
{% load static %}
{% block title %}Página Inicial{% endblock %}

{% block content %}
<div class="container pag">
    <div class="row">
        <!-- Coluna para texto e carrossel (Lado esquerdo) -->
        <div class="col-md-8">
            <h1>Página Inicial</h1>
            <p>Bem-vindo ao nosso site! Aqui você encontrará informações e recursos úteis sobre maternidade, gestação, cuidados pré-natais e muito mais. Nossa missão é fornecer conteúdo de qualidade para ajudar e informar todas as futuras mamães e suas famílias.</p>
            <p>Explore as diferentes seções do nosso site para encontrar artigos, dicas, vídeos e informações relevantes para cada fase da gestação. Também oferecemos informações sobre vacinas recomendadas durante a gravidez, além de dicas de cuidados e bem-estar para mamãe e bebê.</p>
            <p>Estamos aqui para apoiá-la durante toda a jornada da maternidade. Sinta-se à vontade para navegar em nosso site e aproveitar todos os recursos disponíveis. Não hesite em entrar em contato caso tenha alguma dúvida ou precise de orientação. Desejamos a você uma gestação saudável e feliz!</p>
<br>
            <!-- Carrossel de Imagens -->
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
                <div class="carousel-inner">
                    <!-- Primeira imagem ativa -->
                    <div class="carousel-item active">
                        <img src="{% static 'images/4.jpg' %}" class="d-block w-100 carousel-image" alt="Gestação 1">
                    </div>
                    <!-- Segunda imagem -->
                    <div class="carousel-item">
                        <img src="{% static 'images/2.jpg' %}" class="d-block w-100 carousel-image" alt="Gestação 2">
                    </div>
                    <!-- Terceira imagem -->
                    <div class="carousel-item">
                        <img src="{% static 'images/3.jpg' %}" class="d-block w-100 carousel-image" alt="Gestação 3">
                    </div>
                    <!-- Quarta imagem -->
                    <div class="carousel-item">
                        <img src="{% static 'images/4.jpg' %}" class="d-block w-100 carousel-image" alt="Gestação 4">
                    </div>
                </div>
                <!-- Setas de navegação com cor preta -->
                <button class="carousel-control-prev custom-carousel-control" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next custom-carousel-control" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <!-- Coluna para o vídeo (Lado direito) -->
        <div class="col-md-4">
            <div class="video-container">
                <video width="100%" height="auto" controls>
                    <source src="{% static 'video/vivi.mp4' %}" type="video/mp4">
                    Seu navegador não suporta o elemento de vídeo.
                </video>
            </div>
        </div>
    </div>
</div>
{% endblock %}
