{% extends 'site/base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">

                <div class="user-input textarea">
          

                <h4>Valorizamos o feedback dos nossos usuários e estamos comprometidos em aprimorar continuamente a experiência em nosso site. Compartilhe suas opiniões conosco para que possamos oferecer um serviço ainda melhor.</h4>
            </div>
            <BR>
    <div class="user-input textarea">
<form method="POST" autocomplete="off">
    {% csrf_token %}
    {{form}}
    <br>
    <div class="button-row">
    <button type="submit" class="btn btn-outline-dark">Enviar mensagem</button>
</form>
    <a class="btn btn-outline-dark" href="{% url 'site' %}">Voltar</a>
    </div>
     </div>
    </form>
    {% endblock %}